@import './styles.css';

.container-detail{
    border-radius: 20px;
    width: 50vw;
    height: 50vh;
    display: flex;
    padding: auto 50%;
    overflow:auto;
}
.experience{
    width:50%;
    background-image: url('../img/knowledge.jpg');
    background-size: cover;
    cursor: pointer;
}

.knowledge{
    width:50%;
    background-image: url('../img/experience.jpeg');
    background-size: cover;
    cursor: pointer;
}

.filter {
    transition: 250ms ease;
    background-color: transparent;
}

.container-detail div:hover .filter {
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: ease;
    opacity: 0.1;
    background-color: red;
    width: 100%;
    height: 100%;
}